<ul id="js-nav-menu" class="nav-menu">
    <li class="@(ViewBag.AreaBreadcrumb == "Data" && ViewBag.Breadcrumb == "Dashboard" ? "active open" : "")">
        <a href="/Data/Dashboard/Index" title="Dashboard" data-filter-tags="data dashboard">
            <i class="fal fa-chart-area"></i>
            <span class="nav-link-text" data-i18n="nav.index">Dashboard</span>
        </a>
    </li>

    <li class="nav-title">PRODUCTION &amp; LOGISTICS</li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Modelling) ? "active open" : "")">
        <a href="#" title="Modelling" data-filter-tags="supply chain location">
            <i class="fal fa-chart-network"></i>
            <span class="nav-link-text" data-i18n="nav.index">Modelling</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Location) ? "active open" : "")">
                <a href="#" title="Location" data-filter-tags="supply chain location">
                    <span class="nav-link-text" data-i18n="nav.index">Location</span>
                </a>
                <ul>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.BusinessArea) ? "active open" : "")">
                        <a href="/Location/BusinessArea/Index" title="Business Area" data-filter-tags="supply chain location business area">
                            <span class="nav-link-text" data-i18n="nav.supply_chain_location_business_area">Business Area</span>
                        </a>
                    </li>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.MineLocation) ? "active open" : "")">
                        <a href="/Location/MineLocation/Index" title="Mine Location" data-filter-tags="supply chain mine location">
                            <span class="nav-link-text" data-i18n="nav.supply_chain_mine_location">Mine Location</span>
                        </a>
                    </li>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.StockpileLocation) ? "active open" : "")">
                        <a href="/Location/StockpileLocation/Index" title="Stockpile Location" data-filter-tags="supply chain stockpile location">
                            <span class="nav-link-text" data-i18n="nav.supply_chain_stockpile_location">Stockpile Location</span>
                        </a>
                    </li>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.StockpileLocation) ? "active open" : "")">
                        <a href="/Location/PortLocation/Index" title="Port Location" data-filter-tags="port location">
                            <span class="nav-link-text" data-i18n="nav.port_location">Port Location</span>
                        </a>
                    </li>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.WasteLocation) ? "active open" : "")">
                        <a href="/Location/WasteLocation/Index" title="Waste Location" data-filter-tags="supply chain waste location">
                            <span class="nav-link-text" data-i18n="nav.supply_chain_waste_location">Waste Location</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ProcessingFlow) ? "active open" : "")">
                <a href="/ProcessFlow/ProcessFlow/Index" title="Process Flow" data-filter-tags="supply chain transaction process flow analyte">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_process_flow">Process Flow</span>
                </a>
            </li>

            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ProcessFlow) ? "active open" : "")">
                    <a href="#" title="Location" data-filter-tags="supply chain location">
                        <span class="nav-link-text" data-i18n="nav.index">Process Flow</span>
                    </a>
                    <ul>
                        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ProcessingFlow) ? "active open" : "")">
                            <a href="/ProcessFlow/ProcessFlow/Index" title="Process Flow" data-filter-tags="supply chain transaction process flow analyte">
                                <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_process_flow">Process Flow</span>
                            </a>
                        </li>
                        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ProcessingCategory) ? "active open" : "")">
                            <a href="/ProcessFlow/ProcessingCategory/Index" title="Processing Category" data-filter-tags="supply chain transaction processing category">
                                <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_processing_category">Processing Category</span>
                            </a>
                        </li>
                    </ul>
                </li>*@
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Mining) ? "active open" : "")">
        <a href="#" title="Mining" data-filter-tags="supply chain transaction">
            <i class="fal fa-truck-monster"></i>
            <span class="nav-link-text" data-i18n="nav.index">Mining</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Production) ? "active open" : "")">
                <a href="/Mining/Production/Index" title="Production" data-filter-tags="supply chain production transaction">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_production">Production</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.WasteRemoval) ? "active open" : "")">
                <a href="/Mining/WasteRemoval/Index" title="Waste Removal" data-filter-tags="supply chain transaction waste removal">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_waste_removal">Waste Removal</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Processing) ? "active open" : "")">
                <a href="/Mining/Processing/Index" title="Processing" data-filter-tags="supply chain transaction processing">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_processing">Processing</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Hauling) ? "active open" : "")">
                <a href="/Mining/Hauling/Index" title="Hauling" data-filter-tags="supply chain transaction hauling">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_hauling">Hauling</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Railing) ? "active open" : "")">
                <a href="/Mining/Railing/Index" title="Railing" data-filter-tags="supply chain transaction railing">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_railing">Railing</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Rehandling) ? "active open" : "")">
                <a href="/Mining/Rehandling/Index" title="Rehandling" data-filter-tags="supply chain production transaction">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_production">Rehandling</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Timesheet) ? "active open" : "")">
                <a href="/Mining/Timesheet/Index" title="Rehandling" data-filter-tags="supply chain production timesheet">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_timesheet">Timesheet</span>
                </a>
            </li>

            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.JointSurvey) ? "active open" : "")">
                    <a href="/Mining/JointSurvey/Index" title="Joint Survey" data-filter-tags="contract management joint survey">
                        <span class="nav-link-text" data-i18n="nav.contract_management_joint_survey">Joint Survey</span>
                    </a>
                </li>*@
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ProductionClosing) ? "active open" : ""))">
                <a href="/Mining/ProductionClosing/Index" title="Production Closing" data-filter-tags="mining production closing">
                    <span class="nav-link-text" data-i18n="nav.mining_production_closing">Production Closing</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Port) ? "active open" : "")">
        <a href="#" title="Port" data-filter-tags="production logistics port">
            <i class="fal fa-ship"></i>
            <span class="nav-link-text" data-i18n="nav.index">Port</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.PortBarging) ? "active open" : "")">
                <a href="#" title="Barging" data-filter-tags="port barging">
                    <span class="nav-link-text" data-i18n="nav.port_barging">Barging</span>
                </a>
                <ul>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.BargeLoading) ? "active open" : "")">
                        <a href="/Port/Barging/Loading" title="Loading" data-filter-tags="port barging loading">
                            <span class="nav-link-text" data-i18n="nav.port_barging_loading">Loading</span>
                        </a>
                    </li>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.BargeUnloading) ? "active open" : "")">
                        <a href="/Port/Barging/Unloading" title="Unloading" data-filter-tags="port barging unloading">
                            <span class="nav-link-text" data-i18n="nav.port_barging_unloading">Unloading</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.PortShipping) ? "active open" : "")">
                <a href="#" title="Shipping" data-filter-tags="supply chain transaction shipping">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_shipping">Shipping</span>
                </a>
                <ul>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ShipLoading) ? "active open" : "")">
                        <a href="/Port/Shipping/Loading" title="Ship Loading" data-filter-tags="supply chain transaction shipping">
                            <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_shipping">Loading</span>
                        </a>
                    </li>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ShipUnloading) ? "active open" : "")">
                        <a href="/Port/Shipping/Unloading" title="Ship Unloading" data-filter-tags="supply chain transaction shipping">
                            <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_shipping">Unloading</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ShippingInstruction) ? "active open" : ""))">
                <a href="/Sales/ShippingInstruction/Index" title="Shipping Instruction" data-filter-tags="supply chain shipping instruction">
                    <span class="nav-link-text" data-i18n="nav.contract_management_shipping_instruction">@WebAppMenu.BreadcrumbText[WebAppMenu.ShippingInstruction]</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ShippingInstruction) ? "active open" : ""))">
                <a href="/Sales/ShippingInstructionApproval/Index" title="Shipping Instructions Approval" data-filter-tags="supply chain shipping instruction approval">
                    <span class="nav-link-text" data-i18n="nav.contract_management_shipping_instruction_approval">Shipping Instructions Approval</span>
                </a>
            </li>

            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.COW) ? "active open" : "")">
                <a href="/SurveyManagement/COW/Index" title="COW" data-filter-tags="port cow">
                    <span class="nav-link-text" data-i18n="nav.port_cow">C O W</span>
                </a>
            </li>

            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.PortDespatchDemurrage) ? "active open" : "")">
                    <a href="#" title="Despatch Demurrage" data-filter-tags="despatch demurrage">
                        <span class="nav-link-text" data-i18n="nav.despatch_demurrage">Despatch-Demurrage</span>
                    </a>
                    <ul>
                        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.StatementOfFact) ? "active open" : "")">
                            <a href="/Port/StatementOfFact/Index" title="Statement of Fact" data-filter-tags="statement of fact">
                                <span class="nav-link-text" data-i18n="nav.statement_of_fact">Statement of Fact</span>
                            </a>
                        </li>
                    </ul>
                </li>*@

            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.StatementOfFact) ? "active open" : "")">
                <a href="/Port/StatementOfFact/Index" title="Statement of Fact" data-filter-tags="statement of fact">
                    <span class="nav-link-text" data-i18n="nav.statement_of_fact">Statement of Fact</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Equipment) ? "active open" : "")">
        <a href="#" title="Equipment" data-filter-tags="production logistics equipment">
            <i class="fal fa-conveyor-belt-alt"></i>
            <span class="nav-link-text" data-i18n="nav.index">Equipment</span>
        </a>
        <ul>
            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.EquipmentUsageTransaction) ? "active open" : "")">
                    <a href="/Equipment/EquipmentUsageTransaction/Index" title="Equipment Usage" data-filter-tags="equipment usage">
                        <span class="nav-link-text" data-i18n="nav.equipment_usage_transaction">Equipment Usage</span>
                    </a>
                </li>*@
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.EquipmentIncident) ? "active open" : "")">
                <a href="/Equipment/EquipmentIncident/Index" title="Equipment" data-filter-tags="equipment">
                    <span class="nav-link-text" data-i18n="nav.equipment_incident">Equipment Incident</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.StockpileManagement) ? "active open" : "")">
        <a href="#" title="Stockpile Management" data-filter-tags="stockpile management">
            <i class="fal fa-ball-pile"></i>
            <span class="nav-link-text" data-i18n="nav.index">Stockpile Management</span>
        </a>
        <ul>
            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Reserve) ? "active open" : "")">
                    <a href="/StockpileManagement/Reserve/Index" title="Reserve" data-filter-tags="stockpile management reserve">
                        <span class="nav-link-text" data-i18n="nav.stockpile_management_reserve">Reserves</span>
                    </a>
                </li>*@
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.QualitySampling) ? "active open" : "")">
                <a href="/StockpileManagement/QualitySampling/Index" title="Quality Sampling" data-filter-tags="stockpile management quality sampling">
                    <span class="nav-link-text" data-i18n="nav.stockpile_management_quality_sampling">Quality Sampling</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.StockpileState) ? "active open" : "")">
                <a href="/StockpileManagement/StockpileState/Index" title="Stockpile State" data-filter-tags="stockpile management stockpile state">
                    <span class="nav-link-text" data-i18n="nav.stockpile_management_stockpile_state">Stockpile State</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.DailyRecord) ? "active open" : "")">
        <a href="#" title="DailyRecord" data-filter-tags="supply chain transaction">
            <i class="fal fa-tally"></i>
            <span class="nav-link-text" data-i18n="nav.index">Daily Record</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Rainfall) ? "active open" : ""))">
                <a href="/DailyRecord/Rainfall/Index" title="Rainfall" data-filter-tags="daily record rainfall">
                    <span class="nav-link-text" data-i18n="nav.daily_record_rainfall">Rainfall</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Slippery) ? "active open" : ""))">
                <a href="/DailyRecord/Slippery/Index" title="Slippery" data-filter-tags="daily record slippery">
                    <span class="nav-link-text" data-i18n="nav.daily_record_slippery">Slippery</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Rainfall) ? "active open" : ""))">
                <a href="/DailyRecord/Haze/Index" title="Haze" data-filter-tags="daily record haze">
                    <span class="nav-link-text" data-i18n="nav.daily_record_haze">Haze</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.TideandWave) ? "active open" : ""))">
                <a href="/DailyRecord/TidalWave/Index" title="Tide and Wave" data-filter-tags="daily record tide and wave">
                    <span class="nav-link-text" data-i18n="nav.daily_record_tide_and_wave">Tide and Wave</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.PriceIndexHistory) ? "active open" : ""))">
                <a href="/DailyRecord/PriceIndexHistory/Index" title="Price Index History" data-filter-tags="daily record price index history">
                    <span class="nav-link-text" data-i18n="nav.daily_record_price_index_history">Price Index History</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Daywork) ? "active open" : ""))">
                <a href="/DailyRecord/Daywork/Index" title="Daywork" data-filter-tags="daily record daywork">
                    <span class="nav-link-text" data-i18n="nav.daily_record_daywork">Daywork</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.DayworkClosing) ? "active open" : ""))">
                <a href="/DailyRecord/DayworkClosing/Index" title="Daywork Closing" data-filter-tags="daily record daywork closing">
                    <span class="nav-link-text" data-i18n="nav.daily_record_daywork_closing">Daywork Closing</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.IHub) ? "active open" : "")">
        <a href="#" title="I-Hub" data-filter-tags="production logistics ihub">
            <i class="fal fa-send-back"></i>
            <span class="nav-link-text" data-i18n="nav.index">I-Hub</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Weighbridge) ? "active open" : ""))">
                <a href="#" title="Weighbridge" data-filter-tags="supply chain transaction equipment usage">
                    <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_equipment_usage">Weighbridge</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.SurveyManagement) ? "active open" : "")">
        <a href="#" title="Survey" data-filter-tags="survey">
            <i class="fas fa-fill-drip"></i>
            <span class="nav-link-text" data-i18n="nav.index">Survey</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.JointSurvey) ? "active open" : "")">
                <a href="/SurveyManagement/JointSurvey/Index" title="Joint Survey" data-filter-tags="production logistic joint survey">
                    <span class="nav-link-text" data-i18n="nav.production_logistic_joint_survey">Joint Survey</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.StockpileSurvey) ? "active open" : "")">
                <a href="/SurveyManagement/StockpileSurvey/Index" title="Stockpile Survey" data-filter-tags="production logistic stockpile survey">
                    <span class="nav-link-text" data-i18n="nav.production_logistic_stockpile_survey">Stockpile Survey</span>
                </a>
            </li>
        </ul>
    </li>

    @*
        <li class="nav-title">SALES &amp; MARKETING</li>
        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ShippingPlan) ? "active open" : ""))">
            <a href="#" title="Sales Invoice" data-filter-tags="supply chain sales invoice">
                <i class="fal fa-ballot-check"></i>
                <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_sales_invoice">Shipping Plan</span>
            </a>
        </li>
        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Barging) ? "active open" : ""))">
            <a href="#" title="Barging" data-filter-tags="supply chain sales invoice">
                <i class="fal fa-ship"></i>
                <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_sales_invoice">Barging</span>
            </a>
        </li>
        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Documents) ? "active open" : ""))">
            <a href="#" title="Documents" data-filter-tags="supply chain sales invoice">
                <i class="fal fa-book"></i>
                <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_sales_invoice">Documents</span>
            </a>
        </li>
    *@

    @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Pricing) ? "active open" : ""))">
            <a href="#" title="Pricing" data-filter-tags="supply chain sales invoice">
                <i class="fal fa-abacus"></i>
                <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_sales_invoice">Pricing</span>
            </a>
        </li>*@

    <li class="nav-title">CONTRACT MANAGEMENT</li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ContractManagement) ? "active open" : "")">
        <a href="#" title="Contract" data-filter-tags="contract management">
            <i class="fal fa-ballot-check"></i>
            <span class="nav-link-text" data-i18n="nav.index">@WebAppMenu.BreadcrumbText[WebAppMenu.Contract]</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.SalesContract) ? "active open" : ""))">
                <a href="/Sales/SalesContract/Index" title="Sales Contract" data-filter-tags="sales contract">
                    <span class="nav-link-text" data-i18n="nav.contract_management_sales_contract">@WebAppMenu.BreadcrumbText[WebAppMenu.SalesContract]</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.DespatchOrder) ? "active open" : ""))">
                <a href="/Sales/DespatchOrder/Index" title="Despatch Order" data-filter-tags="supply chain despatch order">
                    <span class="nav-link-text" data-i18n="nav.contract_management_despatch_order">@WebAppMenu.BreadcrumbText[WebAppMenu.DespatchOrder]</span>
                </a>
            </li>
            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ShippingInstruction) ? "active open" : ""))">
                    <a href="/Sales/ShippingInstruction/Index" title="Shipping Instructions" data-filter-tags="supply chain shipping instructions">
                        <span class="nav-link-text" data-i18n="nav.contract_management_despatch_order">@WebAppMenu.BreadcrumbText[WebAppMenu.ShippingInstruction]</span>
                    </a>
                </li>*@
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdvanceContract) ? "active open" : "")">
                <a href="/Sales/SalesCharge/Index" title="Sales Charge" data-filter-tags="contract management sales charge">
                    <span class="nav-link-text" data-i18n="nav.contract_management_sales_charge">@WebAppMenu.BreadcrumbText[WebAppMenu.SalesCharge]</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.DespatchDemurrageContract) ? "active open" : ""))">
                <a href="/DespatchDemurrage/Contract/Index" title="Despatch Demurrage" data-filter-tags="contract management desdem">
                    <span class="nav-link-text" data-i18n="nav.contract_management__despatch_demurrage">@WebAppMenu.BreadcrumbText[WebAppMenu.DespatchDemurrageContract]</span>
                </a>
            </li>
            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ProgressClaim) ? "active open" : "")">
                    <a href="/ContractManagement/ProgressClaim/Index" title="Progress Claim" data-filter-tags="contract management progress claim">
                        <span class="nav-link-text" data-i18n="nav.contract_management_progress_claim">Progress Claim</span>
                    </a>
                </li>*@

            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdvanceContract) ? "active open" : "")">
                <a href="#" title="Advance Contract" data-filter-tags="contract management advance contract">
                    <span class="nav-link-text" data-i18n="nav.contract_management_advance_contract">@WebAppMenu.BreadcrumbText[WebAppMenu.AdvanceContract]</span>
                </a>
                <ul>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdvanceContract) ? "active open" : "")">
                        <a href="/ContractManagement/AdvanceContract/Index" title="Advance Contract" data-filter-tags="contract management advance contract">
                            <span class="nav-link-text" data-i18n="nav.contract_management_advance_contract">@WebAppMenu.BreadcrumbText[WebAppMenu.AdvanceContract]</span>
                        </a>
                    </li>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdvanceContractCharge) ? "active open" : "")">
                        <a href="/ContractManagement/AdvanceContractCharge/Index" title="Advance Contract Charge" data-filter-tags="contract management advance contract charge">
                            <span class="nav-link-text" data-i18n="nav.contract_management_advance_contract_charge">@WebAppMenu.BreadcrumbText[WebAppMenu.AdvanceContractCharge]</span>
                        </a>
                    </li>

                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdvanceContract) ? "active open" : "")">
                        <a href="/ContractManagement/AdvanceContractReference/Index" title="Advance Contract Reference" data-filter-tags="contract management advance contract charge">
                            <span class="nav-link-text" data-i18n="nav.contract_management_advance_contract_charge">@WebAppMenu.BreadcrumbText[WebAppMenu.AdvanceContractReference]</span>
                        </a>
                    </li>
                    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdvanceContractValuation) ? "active open" : "")">
                        <a href="/ContractManagement/AdvanceContractValuation/Index" title="Advance Contract Valuation" data-filter-tags="contract management advance contract valuation">
                            <span class="nav-link-text" data-i18n="nav.contract_management_advance_contract_valuation">@WebAppMenu.BreadcrumbText[WebAppMenu.AdvanceContractValuation]</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Invoice) ? "active open" : "")">
        <a href="#" title="Contract" data-filter-tags="contract management invoice">
            <i class="fal fa-file-invoice-dollar"></i>
            <span class="nav-link-text" data-i18n="nav.index">@WebAppMenu.BreadcrumbText[WebAppMenu.Invoice]</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.SalesInvoice) ? "active open" : ""))">
                <a href="/Sales/SalesInvoice/Index" title="Sales Invoice" data-filter-tags="contract management sales invoice">
                    <span class="nav-link-text" data-i18n="nav.contract_management_sales_invoice">@WebAppMenu.BreadcrumbText[WebAppMenu.SalesInvoice]</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.SalesInvoice) ? "active open" : ""))">
                <a href="/Sales/SalesInvoiceApproval/Index" title="Sales Invoice Approval" data-filter-tags="contract management sales invoice approval">
                    <span class="nav-link-text" data-i18n="nav.contract_management_sales_invoice_approval">Sales Invoice Approval</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.DesDemValuation) ? "active open" : ""))">
                <a href="/DespatchDemurrage/Invoice/Index" title="Despatch Demurrage Valuation" data-filter-tags="despatch demurrage valuation">
                    @*<span class="nav-link-text" data-i18n="nav.contract_management_despatch_demurrage_invoice">Despatch Demurrage Invoice</span>*@
                    <span class="nav-link-text" data-i18n="nav.despatch_demurrage_valuation">@WebAppMenu.BreadcrumbText[WebAppMenu.DesDemValuation]</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.DesDemValuation) ? "active open" : ""))">
                <a href="/ContractManagement/ShippingCost/Index" title="Shipping Cost" data-filter-tags="shipping cost">
                    <span class="nav-link-text" data-i18n="nav.shipping_cost">Shipping Cost</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.DesDemDebitCreditNote) ? "active open" : "")">
        <a href="/DespatchDemurrage/DebitCreditNote/Index" title="Debit/Credit Note" data-filter-tags="debit credit note">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.despatch_demurrage_debit_credit_note">Debit/Credit Note</span>
        </a>
    </li>

    <li class="nav-title">PLANNING MANAGEMENT</li>
    @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Planning) ? "active open" : "")">
            <a href="#" title="Planning" data-filter-tags="supply chain planning">
                <i class="fal fa-clipboard-list"></i>
                <span class="nav-link-text" data-i18n="nav.index">Planning</span>
            </a>
            <ul>
            </ul>
        </li>*@

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ProductionPlan) ? "active open" : "")">
        <a href="/Planning/ProductionPlan/Index" title="Production Plan" data-filter-tags="supply chain planning production plan">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.planning_production_plan">Production Plan</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.BlendingPlan) ? "active open" : "")">
        <a href="/Planning/BlendingPlan/Index" title="Blending" data-filter-tags="planning blending">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.planning_blending">Blending Plan</span>
        </a>
    </li>
    @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ShippingPlan) ? "active open" : "")">
            <a href="#" title="Shipping" data-filter-tags="supply chain planning shipping">
                <i class="fal fa-clipboard-list"></i>
                <span class="nav-link-text" data-i18n="nav.supply_chain_planning_shipping">Shipping Plan</span>
            </a>
        </li>*@
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.SalesPlan) ? "active open" : "")">
        <a href="/Planning/SalesPlan/Index" title="Sales Plan" data-filter-tags="supply chain planning sales plan">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.supply_chain_planning_sales_plan">Sales Plan</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.SalesPlanSnapshot) ? "active open" : "")">
        <a href="/Planning/SalesPlanSnapshot/Index" title="Sales Plan Report Snapshot" data-filter-tags="supply chain planning sales plan snapshot">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.supply_chain_planning_sales_plan">Sales Plan Snapshot</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ShipmentPlan) ? "active open" : "")">
        <a href="/Planning/ShipmentPlan/Index" title="Shipment Plan" data-filter-tags="supply chain planning shipment plan">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.supply_chain_planning_shipment_plan">Shipment Plan</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.DrillBlastPlan) ? "active open" : "")">
        <a href="/Mining/DrillBlastPlan/Index" title="Drill & Blast Plan" data-filter-tags="drill blast plan">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.drill_blast_plan">Drill & Blast Plan</span>
        </a>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ExplosiveUsagePlan) ? "active open" : "")">
        <a href="/Mining/ExplosiveUsagePlan/Index" title="Explosive Usage Plan" data-filter-tags="explosive usage plan">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.explosive_usage_plan">Explosive Usage Plan</span>
        </a>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.TimesheetPlan) ? "active open" : "")">
        <a href="/Mining/TimesheetPlan/Index" title="Daily Plan" data-filter-tags="daily plan">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.daily_plan">Daily Plan</span>
        </a>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.TimesheetPlan) ? "active open" : "")">
        <a href="/Planning/HaulingPlan/Index" title="Daily Plan" data-filter-tags="hauling plan">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.hauling_plan">Hauling Plan</span>
        </a>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.BargingPlan) ? "active open" : "")">
        <a href="/Planning/BargingPlan/Index" title="Barging Plan" data-filter-tags="barging plan">
            <i class="fal fa-clipboard-list"></i>
            <span class="nav-link-text" data-i18n="nav.barging_plan">Barging Plan</span>
        </a>
    </li>

    <li class="nav-title">ACCOUNTING MANAGEMENT</li>
    @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ChartofAccount) ? "active open" : "")">
            <a href="#" title="Transaction" data-filter-tags="supply chain transaction">
                <i class="fal fa-ballot-check"></i>
                <span class="nav-link-text" data-i18n="nav.index">Chart of Account</span>
            </a>
            <ul>
                <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Accounts) ? "active open" : ""))">
                    <a href="/Accounting/Account/Index" title="Account" data-filter-tags="general account">
                        <span class="nav-link-text" data-i18n="nav.general_account">Accounts</span>
                    </a>
                </li>
                <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.SubAccounts) ? "active open" : ""))">
                    <a href="/Accounting/SubAccount/Index" title="Sub Account" data-filter-tags="general subaccount">
                        <span class="nav-link-text" data-i18n="nav.general_subaccount">Sub Accounts</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.CostCenter) ? "active open" : "")">
            <a href="#" title="Bank" data-filter-tags="general bank">
                <i class="fal fa-money-check-edit"></i>
                <span class="nav-link-text" data-i18n="nav.general_bank">Cost Center</span>
            </a>
        </li>*@
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AccountingPeriod) ? "active open" : ""))">
        <a href="/Accounting/AccountingPeriod/Index" title="Accounting Period" data-filter-tags="organization accounting period">
            <i class="fal fa-calendar"></i>
            <span class="nav-link-text" data-i18n="nav.organization_accounting_period">Accounting Period</span>
        </a>
    </li>
    @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.CostDistribution) ? "active open" : ""))">
            <a href="#" title="Bank" data-filter-tags="general bank">
                <i class="fal fa-money-check"></i>
                <span class="nav-link-text" data-i18n="nav.general_bank">Cost Distribution</span>
            </a>
        </li>*@
    @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.FormulaResult) ? "active open" : "")">
            <a href="#" title="Transaction" data-filter-tags="supply chain transaction">
                <i class="fal fa-calculator-alt"></i>
                <span class="nav-link-text" data-i18n="nav.index">Formula &amp; Result</span>
            </a>
            <ul>
                <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Formula) ? "active open" : ""))">
                    <a href="#" title="Formula" data-filter-tags="general account">
                        <span class="nav-link-text" data-i18n="nav.general_account">Formula</span>
                    </a>
                </li>
                <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.FormulaResult) ? "active open" : ""))">
                    <a href="#" title="Result" data-filter-tags="general account">
                        <span class="nav-link-text" data-i18n="nav.general_account">Result</span>
                    </a>
                </li>
            </ul>
        </li>*@
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith("Employee") ? "active open" : ""))">
        <a href="/General/Employee/Index" title="Employee" data-filter-tags="general employee">
            <i class="fal fa-building"></i>
            <span class="nav-link-text">Employee</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Bank) ? "active open" : ""))">
        <a href="/General/Bank/Index" title="Bank" data-filter-tags="general bank">
            <i class="fal fa-building"></i>
            <span class="nav-link-text" data-i18n="nav.general_bank">Bank</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.BankAccount) ? "active open" : ""))">
        <a href="/General/BankAccount/Index" title="Bank Account" data-filter-tags="general bank account">
            <i class="fal fa-file-user"></i>
            <span class="nav-link-text" data-i18n="nav.general_bank_account">Bank Account</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Currency) ? "active open" : ""))">
        <a href="/General/Currency/Index" title="Currency" data-filter-tags="general currency">
            <i class="fal fa-money-bill"></i>
            <span class="nav-link-text" data-i18n="nav.general_currency">Currency</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.CurrencyExchange) ? "active open" : ""))">
        <a href="/General/CurrencyExchange/Index" title="Currency Exchange" data-filter-tags="general currency exchange">
            <i class="fal fa-money-check-edit"></i>
            <span class="nav-link-text" data-i18n="nav.general_currency_exchange">Currency Exchange</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Tax) ? "active open" : ""))">
        <a href="/General/Tax/Index" title="Tax" data-filter-tags="general tax">
            <i class="fal fa-money-check"></i>
            <span class="nav-link-text" data-i18n="nav.general_tax">Tax</span>
        </a>
    </li>
    @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.MiningOperationDashboard) ? "active open" : ""))">
            <a href="#" title="Mining Operation Dashboard" data-filter-tags="general bank">
                <i class="fal fa-chart-line"></i>
                <span class="nav-link-text" data-i18n="nav.general_bank">Mining Operation Dashboard</span>
            </a>
        </li>*@

    <li class="nav-title">MASTER DATA</li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Material) ? "active open" : "")">
        <a href="#" title="Material" data-filter-tags="material">
            <i class="fal fa-vial"></i>
            <span class="nav-link-text" data-i18n="nav.pages">Material</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Product) ? "active open" : ""))">
                <a href="/Material/Product/Index" title="Product" data-filter-tags="material product">
                    <span class="nav-link-text" data-i18n="nav.material_product">Product</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ProductCategory) ? "active open" : ""))">
                <a href="/Material/ProductCategory/Index" title="Product Category" data-filter-tags="material product category">
                    <span class="nav-link-text" data-i18n="nav.material_product_category">Product Category</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Waste) ? "active open" : ""))">
                <a href="/Material/Waste/Index" title="Waste" data-filter-tags="material waste">
                    <span class="nav-link-text" data-i18n="nav.material_waste">Waste</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.WasteCategory) ? "active open" : ""))">
                <a href="/Material/WasteCategory/Index" title="Waste Category" data-filter-tags="material waste category">
                    <span class="nav-link-text" data-i18n="nav.material_waste_category">Waste Category</span>
                </a>
            </li>
            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.OtherMaterial) ? "active open" : ""))">
                    <a href="/Material/Other/Index" title="Waste" data-filter-tags="material other">
                        <span class="nav-link-text" data-i18n="nav.material_other">Other Material</span>
                    </a>
                </li>*@
        </ul>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Quality) ? "active open" : "")">
        <a href="#" title="Quality" data-filter-tags="material">
            <i class="fal fa-flask-potion"></i>
            <span class="nav-link-text" data-i18n="nav.pages">Quality</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AnalyteDefinitions) ? "active open" : ""))">
                <a href="/Quality/Analyte/Index" title="Sampling Template" data-filter-tags="quality analyte definition">
                    <span class="nav-link-text" data-i18n="nav.quality_analyte">Analyte Definitions</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.SamplingTemplate) ? "active open" : ""))">
                <a href="/Quality/SamplingTemplate/Index" title="Sampling Template" data-filter-tags="quality sampling template">
                    <span class="nav-link-text" data-i18n="nav.sampling_template">Sampling Template</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Equipment) ? "active open" : "")">
        <a href="#" title="Equipment" data-filter-tags="production logistics equipment">
            <i class="fal fa-conveyor-belt-alt"></i>
            <span class="nav-link-text" data-i18n="nav.index">Equipment</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.EquipmentList) ? "active open" : "")">
                <a href="/Equipment/EquipmentList/Index" title="Equipment" data-filter-tags="equipment">
                    <span class="nav-link-text" data-i18n="nav.equipment_type">Equipment List</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.EquipmentType) ? "active open" : "")">
                <a href="/Equipment/EquipmentType/Index" title="Equipment Type" data-filter-tags="equipment type">
                    <span class="nav-link-text" data-i18n="nav.equipment_type">Equipment Type</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Transport) ? "active open" : "")">
        <a href="#" title="Transport" data-filter-tags="material">
            <i class="fal fa-truck-monster"></i>
            <span class="nav-link-text" data-i18n="nav.pages">Transport</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Truck) ? "active open" : ""))">
                <a href="/Transport/Truck/Index" title="Truck" data-filter-tags="transport truck">
                    <span class="nav-link-text" data-i18n="nav.transport_truck">Truck</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Train) ? "active open" : ""))">
                <a href="/Transport/Train/Index" title="Truck" data-filter-tags="transport train">
                    <span class="nav-link-text" data-i18n="nav.transport_train">Train</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Tug) ? "active open" : ""))">
                <a href="/Transport/Tug/Index" title="Tug" data-filter-tags="transport tug">
                    <span class="nav-link-text" data-i18n="nav.transport_tug">Tug</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Barge) ? "active open" : ""))">
                <a href="/Transport/Barge/Index" title="Barge" data-filter-tags="transport barge">
                    <span class="nav-link-text" data-i18n="nav.transport_barge">Barge</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Vessel) ? "active open" : ""))">
                <a href="/Transport/Vessel/Index" title="Vessel" data-filter-tags="transport vessel">
                    <span class="nav-link-text" data-i18n="nav.transport_vessel">Vessel</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Shift) ? "active open" : "")">
        <a href="#" title="Shift" data-filter-tags="Organization">
            <i class="fal fa-user-cog"></i>
            <span class="nav-link-text" data-i18n="nav.pages">Shift</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Shift) ? "active open" : ""))">
                <a href="/Shift/Shift/Index" title="Shift" data-filter-tags="organization shift">
                    <span class="nav-link-text" data-i18n="nav.organization_shift">Shift Definition</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ShiftCategory) ? "active open" : ""))">
                <a href="/Shift/ShiftCategory/Index" title="Shift Category" data-filter-tags="organization shift category">
                    <span class="nav-link-text" data-i18n="nav.organization_shift_category">Shift Category</span>
                </a>
            </li>
            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Company) ? "active open" : ""))">
                    <a href="/Organisation/Company/Index" title="Company" data-filter-tags="organization business partner">
                        <span class="nav-link-text" data-i18n="nav.organization_business_partner">Company</span>
                    </a>
                </li>*@
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Operator) ? "active open" : "")">
        <a href="#" title="Operator" data-filter-tags="general master list">
            <i class="fal fa-user-cog"></i>
            <span class="nav-link-text" data-i18n="nav.pages">Operator</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Operator) ? "active open" : ""))">
                <a href="/General/Operator/Index" title="Operator" data-filter-tags="organization operator">
                    <span class="nav-link-text" data-i18n="nav.organization_operator">Operator</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.UOM) ? "active open" : "")">
        <a href="#" title="General" data-filter-tags="general">
            <i class="fal fa-book"></i>
            <span class="nav-link-text" data-i18n="nav.pages">UOM</span>
        </a>
        <ul>

            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.UOM) ? "active open" : ""))">
                <a href="/UOM/UOM/Index" title="UOM" data-filter-tags="general uom">
                    <span class="nav-link-text" data-i18n="nav.general_uom">UOM</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.UOMCategory) ? "active open" : ""))">
                <a href="/UOM/UOMCategory/Index" title="UOM Category" data-filter-tags="general uom category">
                    <span class="nav-link-text" data-i18n="nav.general_uom_category">UOM Category</span>
                </a>
            </li>
        </ul>
    </li>
    <!--
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Incident) ? "active open" : "")">
        <a href="#" title="Incident" data-filter-tags="material">
            <i class="fal fa-tools"></i>
            <span class="nav-link-text" data-i18n="nav.pages">Incident</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.IncidentDefinition) ? "active open" : ""))">
                <a href="/Incident/IncidentDefinition/Index" title="Incident Definition" data-filter-tags="equipment incident definition">
                    <span class="nav-link-text" data-i18n="nav.equipment_incident_definition">Incident Definition</span>
                </a>
            </li>
        </ul>
    </li>
        -->


    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.EventDefinitionCategory) ? "active open" : "")">
        <a href="#" title="General" data-filter-tags="general">
            <i class="fal fa-book"></i>
            <span class="nav-link-text" data-i18n="nav.pages">Event Definition</span>
        </a>
        <ul>

            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.EventDefinitionCategory) ? "active open" : ""))">
                <a href="/General/EventDefinitionCategory/Index" title="Event Definition Category" data-filter-tags="general event definition category">
                    <span class="nav-link-text" data-i18n="nav.general_event_definition_category">Event Definition Category</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.EventDefinition) ? "active open" : ""))">
                <a href="/General/EventCategory/Index" title="Event Definition" data-filter-tags="general event definition">
                    <span class="nav-link-text" data-i18n="nav.general_event_definition">Event Definition</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Customer) ? "active open" : ""))">
        <a href="/Sales/Customer/Index" title="Customer" data-filter-tags="sales marketing customer">
            <i class="fal fa-user-circle"></i>
            <span class="nav-link-text" data-i18n="nav.sales_marketing_customer">Customer</span>
        </a>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Contractor) ? "active open" : "")">
        <a href="/Organisation/Contractor/Index" title="Contractor" data-filter-tags="production logistics contractor">
            <i class="fal fa-user-circle"></i>
            <span class="nav-link-text" data-i18n="nav.production_logistics_contractor">Contractor</span>
        </a>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.DocumentType) ? "active open" : ""))">
        <a href="/General/DocumentType/Index" title="Document Type" data-filter-tags="general document type">
            <i class="fal fa-book"></i>
            <span class="nav-link-text" data-i18n="nav.general_document_type">Document Type</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdministrativeArea) ? "active open" : ""))">
        <a href="#" title="Region" data-filter-tags="material">
            <i class="fal fa-atlas"></i>
            <span class="nav-link-text" data-i18n="nav.pages">Administrative Area</span>
        </a>
        <ul>
            <li>
                <a href="/General/City/Index" title="City" data-filter-tags="general city">
                    <span class="nav-link-text" data-i18n="nav.general_city">City</span>
                </a>
            </li>
            <li>
                <a href="/General/Province/Index" title="Province" data-filter-tags="general province">
                    <span class="nav-link-text" data-i18n="nav.general_province">Province</span>
                </a>
            </li>
            <li>
                <a href="/General/Country/Index" title="Country" data-filter-tags="general country">
                    <span class="nav-link-text" data-i18n="nav.general_country">Country</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="@(ViewBag.Breadcrumb == "DataPairList" ? "active" : "")">
        <a href="/General/DataPairList/Index" title="Data Pair List" data-filter-tags="general data_pair_list">
            <i class="fal fa-th-list"></i>
            <span class="nav-link-text" data-i18n="nav.general_cdata_pair_list">Data Pair List</span>
        </a>
    </li>

    <li class="@(ViewBag.Breadcrumb == "CustomerType" ? "active" : "")">
        <a href="/General/CustomerType/Index" title="Country" data-filter-tags="general customer_type">
            <i class="fal fa-user-tag"></i>
            <span class="nav-link-text" data-i18n="nav.general_customer_type">Customer Type</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Calendar) ? "active open" : ""))">
        <a href="/General/Calendar/Index" title="Calendar" data-filter-tags="general calendar">
            <i class="fal fa-calendar"></i>
            <span class="nav-link-text" data-i18n="nav.general_calendar">Calendar</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.PriceIndex) ? "active open" : ""))">
        <a href="/General/PriceIndex/Index" title="Price Index" data-filter-tags="general price index">
            <i class="fal fa-money-bill-wave"></i>
            <span class="nav-link-text" data-i18n="nav.general_price_index">Price Index</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ProcessingCategory) ? "active open" : "")">
        <a href="/ProcessFlow/ProcessingCategory/Index" title="Processing Category" data-filter-tags="supply chain transaction processing category">
            <i class="fal fa-user-cog"></i>
            <span class="nav-link-text" data-i18n="nav.supply_chain_transaction_processing_category">Processing Category</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.MasterList) ? "active open" : ""))">
        <a href="/General/MasterList/Index" title="Master List" data-filter-tags="general master list">
            <i class="fal fa-th-list"></i>
            <span class="nav-link-text" data-i18n="nav.general_master_list">Master List</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ReferencePriceEditor) ? "active open" : ""))">
        <a href="/General/ReferencePriceEditor/Index" title="Reference Price Editor" data-filter-tags="general reference price editor">
            <i class="fal fa-book"></i>
            <span class="nav-link-text" data-i18n="nav.general_reference_price_editor">Reference Price Editor</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.BenchmarkPriceBrand) ? "active open" : ""))">
        <a href="/General/BenchmarkPriceBrand/Index" title="Benchmark Price Brand" data-filter-tags="general benchmark price brand">
            <i class="fal fa-clipboard-check"></i>
            <span class="nav-link-text" data-i18n="nav.general_benchmark_price_brand">Benchmark Price Brand</span>
        </a>
    </li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.BenchmarkPriceEditor) ? "active open" : ""))">
        <a href="/General/BenchmarkPriceEditor/Index" title="Benchmark Price Editor" data-filter-tags="general benchmark price editor">
            <i class="fal fa-clipboard-check"></i>
            <span class="nav-link-text" data-i18n="nav.general_benchmark_price_editor">Benchmark Price Editor</span>
        </a>
    </li>

    <li class="nav-title">USER SECURITY MANAGEMENT</li>
    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.SystemAdministration) ? "active open" : "")">
        <a href="#" title="System Administration" data-filter-tags="System Administration">
            <i class="fal fa-cogs"></i>
            <span class="nav-link-text" data-i18n="nav.pages">System Administration</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ApplicationUser) ? "active open" : ""))">
                <a href="/SystemAdministration/ApplicationUser/Index" title="Application User" data-filter-tags="organization application user">
                    <span class="nav-link-text" data-i18n="nav.organization_application_user">Application User</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Team) ? "active open" : ""))">
                <a href="/SystemAdministration/Team/Index" title="Team" data-filter-tags="organization team">
                    <span class="nav-link-text" data-i18n="nav.organization_team">Team</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ApplicationRole) ? "active open" : ""))">
                <a href="/SystemAdministration/ApplicationRole/Index" title="Application Role" data-filter-tags="organization application user">
                    <span class="nav-link-text" data-i18n="nav.organization_application_role">Application Role</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Organization) ? "active open" : ""))">
                <a href="/SystemAdministration/Organization/Index" title="Organization" data-filter-tags="system administration organization">
                    <span class="nav-link-text" data-i18n="nav.system_administration_organization">Organization</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith("Email Notification") ? "active open" : ""))">
                <a href="/SystemAdministration/EmailNotification/Index" title="Email Notification" data-filter-tags="system administration email notification">
                    <span class="nav-link-text" data-i18n="nav.system_administration_email_notification">Email Notification</span>
                </a>
            </li>

            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith("Ellipse Sync Log") ? "active open" : ""))">
                <a href="/SystemAdministration/SyncLog/Index" title="SyncLog" data-filter-tags="system administration sync log">
                    <span class="nav-link-text" data-i18n="nav.system_administration_sync_log">Ellipse Sync Log</span>
                </a>
            </li>

            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.MasterList) ? "active open" : ""))">
                <a href="/General/ItemGroup/Index" title="Item Group" data-filter-tags="general item group">
                    <i class="fal fa-th-list"></i>
                    <span class="nav-link-text" data-i18n="nav.general_item_group">Item Group</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.MasterList) ? "active open" : ""))">
                <a href="/General/ItemList/Index" title="Item Group" data-filter-tags="general item list">
                    <i class="fal fa-th-list"></i>
                    <span class="nav-link-text" data-i18n="nav.general_item_list">Item List</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Reports) ? "active open" : "")">
        <a href="#" title="Reports" data-filter-tags="reports">
            <i class="fal fa-chart-network"></i>
            <span class="nav-link-text" data-i18n="nav.index">REPORTS</span>
        </a>
        <ul>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ReportTemplate) ? "active open" : ""))">
                <a href="/Report/ReportTemplate/Index" title="Report Template" data-filter-tags="report template">
                    <span class="nav-link-text" data-i18n="nav.report_template">Report Template</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ReportTemplate) ? "active open" : ""))">
                <a href="/Report/ReportViewer/Index" title="Report Viewer" data-filter-tags="report viewer">
                    <span class="nav-link-text" data-i18n="nav.report_viewer">Report Viewer</span>
                </a>
            </li>
            <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ReportTemplate) ? "active open" : ""))">
                <a href="/Report/Designer/Index" title="Report Designer" data-filter-tags="report designer">
                    <span class="nav-link-text" data-i18n="nav.report_designer">Report Designer</span>
                </a>
            </li>

            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.ReportSmartMining) ? "active open" : "")">
                    <a href="#" title="Location" data-filter-tags="supply chain location">
                        <span class="nav-link-text" data-i18n="nav.index">Port</span>
                    </a>
                    <ul>
                        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdministrativeArea) ? "active open" : ""))">
                            <a href="/Report/PBI/Index/Shipment" title="Shipment" data-filter-tags="general city">
                                <span class="nav-link-text" data-i18n="nav.general_city">Shipment</span>
                            </a>
                        </li>
                        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdministrativeArea) ? "active open" : ""))">
                            <a href="/Report/PBI/Index/Barging" title="Barging" data-filter-tags="general city">
                                <span class="nav-link-text" data-i18n="nav.general_city">Barging</span>
                            </a>
                        </li>
                        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdministrativeArea) ? "active open" : ""))">
                            <a href="/Report/PBI/Index/SOF" title="SOF" data-filter-tags="general city">
                                <span class="nav-link-text" data-i18n="nav.general_city">Statement of Fact</span>
                            </a>
                        </li>
                    </ul>
                </li>*@
            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.Location) ? "active open" : "")">
                    <a href="#" title="Ellipse" data-filter-tags="supply chain location">
                        <span class="nav-link-text" data-i18n="nav.index">Ellipse</span>
                    </a>
                    <ul>
                        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.AdministrativeArea) ? "active open" : ""))">
                            <a href="/Report/Ellipse/Invoice" title="Invoice" data-filter-tags="general city">
                                <span class="nav-link-text" data-i18n="nav.general_city">Invoice</span>
                            </a>
                        </li>
                    </ul>
                </li>*@
            @*<li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.FastReport) ? "active open" : "")">
                    <a href="#" title="FastReport" data-filter-tags="fast report">
                        <span class="nav-link-text" data-i18n="nav.fast_report">FastReport</span>
                    </a>
                    <ul>
                        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.FastReportAll) ? "active open" : ""))">
                            <a href="/Report/FastReport/Index" title="FastReport All" data-filter-tags="fast report all">
                                <span class="nav-link-text" data-i18n="nav.fast_report_all">Print Out</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.FastReport) ? "active open" : "")">
                    <a href="#" title="Report" data-filter-tags="fast report">
                        <span class="nav-link-text" data-i18n="nav.fast_report">Report</span>
                    </a>
                    <ul>
                        <li class="@((ViewBag.BreadcrumbCode ?? "").StartsWith(WebAppMenu.FastReportAll) ? "active open" : ""))">
                            <a href="/Report/PrintOutViewer/Index" title="Print Out Viewer" data-filter-tags="print out viewer">
                                <span class="nav-link-text" data-i18n="nav.fast_report_all">Print Out Viewer</span>
                            </a>
                        </li>
                    </ul>
                </li>*@
        </ul>
    </li>

    <li class="nav-title">DASHBOARDS</li>
</ul>